# vim: set filetype=gitconfig:
#
{{- $name := promptStringOnce . "name" "What is your name" }}
{{- $email := promptStringOnce . "email" "What is your email address" }}

[user]
	name = {{ $name }}
	email = {{ $email }}

