# vim: set filetype=gitconfig:
#

[include]
  path = {{ .chezmoi.userDir }}/.gitconfig.local

[user]
	name = {{ .gitUser }}
	email = {{ .gitEmail }}

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[init]
	defaultBranch = main

