#!/bin/bash
# vim: set filetype=bash:
# watching location: {{ joinPath .chezmoi.sourceDir ".." "ansible"}}

{{ $watchedLocation := joinPath .chezmoi.sourceDir ".." "ansible"}}

echo "Detected a change that is required in global machine, running ansible..."
ansible-playbook -i {{$watchedLocation}}/hosts {{$watchedLocation}}/playbook.yml --ask-become-pass
