#!/bin/bash
# vim: set filetype=bash:
# {{ $watchedLocation := joinPath .chezmoi.sourceDir ".." "ansible"}}
# watching location: {{ $watchedLocation }} 
# location hash: {{ output "devbox" "global" "run" "nix-hash" $watchedLocation | trim }}

echo "Detected a change that is required in global machine, running ansible..."
devbox global run -- ansible-playbook -i {{$watchedLocation}}/hosts {{$watchedLocation}}/playbook.yml --ask-become-pass
