{
  "hooks": {
    "UserPromptSubmit": [
      {
        "matcher": "",
        "hooks": [
          {
            "type": "command",
            "command": "python3 {{ .chezmoi.homeDir }}/.claude/hooks/start.py"
          }
        ]
      }
    ],
    "Stop": [
      {
        "matcher": "",
        "hooks": [
          {
            "type": "command",
            "command": "python3 {{ .chezmoi.homeDir }}/.claude/hooks/notify.py"
          }
        ]
      }
    ],
    "Notification": [
      {
        "matcher": "",
        "hooks": [
          {
            "type": "command",
            "command": "python3 {{ .chezmoi.homeDir }}/.claude/hooks/notify.py"
          }
        ]
      }
    ],
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.claude/hooks/rtk-rewrite.sh"
          }
        ]
      }
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "python3 {{ .chezmoi.homeDir }}/.claude/hooks/status.py"
  },
  "enabledPlugins": {
    "superpowers@claude-plugins-official": false,
    "skill-creator@claude-plugins-official": true,
    "github@claude-plugins-official": true,
    "feature-dev@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true,
    "claude-md-management@claude-plugins-official": true,
    "claude-code-setup@claude-plugins-official": true,
    "plugin-dev@claude-plugins-official": true,
    "claude-api@anthropic-agent-skills": true
  },
  "extraKnownMarketplaces": {
    "anthropic-agent-skills": {
      "source": {
        "source": "github",
        "repo": "anthropics/skills"
      }
    }
  },
  "model": "sonnet"
}
